<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPFramework" version="1.1.1" targetFramework="net48" />
  <package id="Microsoft.Build.Tasks.Git" version="1.1.1" targetFramework="net472" developmentDependency="true" />
  <package id="PagedControl" version="2.2.0" targetFramework="net472" />
  <package id="System.Xml.ReaderWriter" version="4.3.1" targetFramework="net472" />
  <package id="TabControl" version="2.1.2" targetFramework="net472" />
</packages>